/*---------------------------need to be checked
day1*/
section.new-tweet {
  display: none;
  margin: 0 2em 0 2em;
  padding: 10px;
  background: #cccccc;
  border-radius: 8px;
  border: 5px ;
}

/*
day1*/
section.new-tweet h2 {
  border-bottom: 2px solid black;
}

section.new-tweet textarea {
  width: 370px;
  height: 120px;
  padding: 10px 10px;
}

span.counter {
  float: right;
  font-weight:bold
}


div#error-msg {
  display: none;
  font-weight:bold ;
  color: black;
  margin: 20px 2em 20px;
  background: red;
  padding: 10px;
  border-radius: 7px;
  border: 2px;
}
